<a href="{% url 'tags:add' %}">Lägg till ny etikett</a>
<h2>Medlemmar</h2>

{% if members %}
    <ul>
    {% for member in members %}
        <li><a href="{% url 'tags:member_details' member.id %}">{{ member }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Listan är tom.</p>
{% endif %}

<h2>Maskiner</h2>
<a href="{% url 'tags:machine_tag_add' %}">Lägg till ny maskin</a>
{% if machines %}
    <ul>
    {% for machine in machines %}
        <li><a href="{% url 'tags:machine_tag_details' machine.id %}">{{ machine }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Listan är tom.</p>
{% endif %}
